/* style.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}

ul{
   list-style-type: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.main-container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'Cafe24Dongdong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* main */
#main{
    width: 100%;
    height: 100vh;
    background-image: url(images/main2.jpg);
    background-size: cover;
    background-position:center;
    /* background: #435163; */
    /* border: 20px solid #435163; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-box .box1{
    /* width: 800px;
    height: 480px; */
    /* border: 8px solid #ccc; */
    width: 100%;  
    height: 100%;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box .box1 h1{
    height: 100px;
}

h1 span{
    color: #3A565C;
    font-family: 'Cafe24Dongdong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-size: 100px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }
h1 span:nth-child(7) { animation-delay: .6s; }
h1 span:nth-child(8) { animation-delay: .7s; }
h1 span:nth-child(9) { animation-delay: .8s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }


.indicator{
    position:fixed;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    padding: 10px;
    line-height: 30px;
}

.indicator li a{
    color: #333;
    font-size: 10px;
}

.indicator li a:hover{
    color: #3A565C;
    font-size: 10px;
}


/* about */
#about{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.about-box{
    width: 300px;
    height: 500px;
    margin-right: 200px;
    /* outline: 1px solid red; */
}

.about-box h2{
    font-size: 40px;
    border-bottom: 3px solid #333;
    text-align: center;
}

.about-box img{
    width: 300px;
    height: 400px;
    position: relative;
}


/* profile */
.profile{
   display: inline-block;
   /* outline: 1px solid #333; */
}

.profile-box{
    display: flex;
    margin-bottom: 100px;
}

.profile h2{
    width: 200px;
    font-size: 30px;
}

.txt-box1{
    width: 130px;
    text-align: left;
    /* outline: 1px solid blue; */
}

.txt-box1 >p{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.txt-box2{
    padding-left: 100px;
}

.txt-box2 >p{
    font-size: 16px;
    line-height: 30px;
}

.license-box{
    /* outline: 1px solid red; */
    display: flex;
    margin-bottom: 60px;
}

.skills-box{
    /* outline: 1px solid red; */
    display: flex;
}


/* portfolio */

.main-container{
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-size: 100%;
    background-attachment: fixed; 
} 

#portfolio-web{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


#portfolio-web h2{
   text-transform: uppercase;
   font-size: 40px;
   text-align: center;
   padding-top: 20px;
}

#portfolio-web p{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 100px;
}


#portfolio-web .web1{
    display: flex;
    justify-content: center;
}

#portfolio-web img{
    width: 800px;
    height: 600px;
    margin-right: 100px;
}

#portfolio-web .web1-info{
    width: 300px;
    justify-content: center;
}

#portfolio-web .web1-info h3 img{
   width: 100px;
   height: 50px;
   margin-top: 100px;
}
#portfolio-web .web1-info p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-web .web1-info .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-web .web1-info .btn ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-web .web1-info .btn ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
}


/* web2 */

#portfolio-web2{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#portfolio-web2 .web2{
    display: flex;
    justify-content: center;
    padding-top: 193px;
}

#portfolio-web2 img{
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#portfolio-web2 .web1-info2{
    width: 300px;
    justify-content: center;
}

#portfolio-web2 .web1-info2 h3 img{
    width: 150px;
    height: 50px;
    margin-top: 100px;
}
#portfolio-web2 .web1-info2 p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-web2 .web1-info2 .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-web2 .web1-info2 .btn2 ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-web2 .web1-info2 .btn2 ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
   
}


/* web3 */
#portfolio-web3{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


#portfolio-web3 .web3{
    display: flex;
    justify-content: center;
    padding-top: 193px;
}

#portfolio-web3 img{
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#portfolio-web3 .web1-info3{
    width: 300px;
    justify-content: center;
}

#portfolio-web3 .web1-info3 h3 img{
   width: 120px;
   height: 40px;
   margin-top: 100px;
}
#portfolio-web3 .web1-info3 p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-web3 .web1-info3 .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-web3 .web1-info3 .btn3 ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-web3 .web1-info3 .btn3 ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
}


/* web4 */
#portfolio-web4{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


#portfolio-web4 .web4{
    display: flex;
    justify-content: center;
    padding-top: 193px;
}

#portfolio-web4 img{
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#portfolio-web4 .web1-info4{
    width: 300px;
    justify-content: center;
}

#portfolio-web4 .web1-info4 h3 img{
   width: 150px;
   height: 50px;
   margin-top: 100px;
}

#portfolio-web4 .web1-info4 p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-web4 .web1-info4 .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-web4 .web1-info4 .btn4 ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-web4 .web1-info4 .btn4 ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
   
} 

/* mobile */
#portfolio-mobile{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 200px;
}

#portfolio-mobile h2{
   text-transform: uppercase;
   font-size: 40px;
   text-align: center;
   padding-top: 20px;
   
}

#portfolio-mobile p{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 100px;
}


#portfolio-mobile .mobile{
    /* margin-top: 150px; */
    display: flex;
    justify-content: center;
}

#portfolio-mobile img{
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#portfolio-mobile .mobile-info{
    width: 300px;
    justify-content: center;
}

#portfolio-mobile .mobile-info h3 img{
   width: 130px;
   height: 50px;
   margin-top: 100px;
}
#portfolio-mobile .mobile-info p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-mobile .mobile-info .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-mobile .mobile-info .btn ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-mobile .mobile-info .btn ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
   
}

/* mobile2 */
#portfolio-mobile2{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#portfolio-mobile2 h2{
   text-transform: uppercase;
   font-size: 40px;
   text-align: center;
   padding-top: 20px;
   
}

#portfolio-mobile2 p{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 100px;
}


#portfolio-mobile2 .mobile2{
    /* margin-top: 150px; */
    display: flex;
    justify-content: center;
}

#portfolio-mobile2 img{
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#portfolio-mobile2 .mobile-info2{
    width: 300px;
    justify-content: center;
}

#portfolio-mobile2 .mobile-info2 h3 img{
   width: 130px;
   height: 50px;
   margin-top: 100px;
}
#portfolio-mobile2 .mobile-info2 p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#portfolio-mobile2 .mobile-info2 .project{
    display: flex;
    text-align: left;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#portfolio-mobile2 .mobile-info2 .btn ul{
    width: 220px;
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#portfolio-mobile2 .mobile-info2 .btn ul li{
    outline: 1px solid #3A565C;
    padding: 10px 15px;
}




/* design */
#portfolio-design{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#portfolio-design h2{
   text-transform: uppercase;
   font-size: 40px;
   /* outline: 1px solid red; */
   text-align: center;   
}

#portfolio-design p{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 100px;
} 


#portfolio-design .design-box{ 
    width: 1200px;
    height: 280px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#portfolio-design .design-box .box{ 
    width: 280px;
    height: 280px;
} 

#portfolio-design .design-box .box img{
    width: 280px;
    height: 280px;
}


#portfolio-design .design-box2{ 
    width: 1200px;
    height: 280px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#portfolio-design .design-box2 .box{ 
    width: 280px;
    height: 280px;
} 

#portfolio-design .design-box2 .box img{ 
    width: 280px;
    height: 280px;
} 

#portfolio-design .design-box .box:hover{ 
   opacity: 0.8;
} 

#portfolio-design .design-box2 .box:hover{ 
    opacity: 0.8;
 } 






/* contact-me */
/* #contact-me{
    width: 100%;
    height: 100vh;
    min-height: 900px;
    border: 30px solid #435163;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 30000;
} */

#contact-me{
    width: 100%;
    height: 100vh;
    background: #ccc;
}

#contact-me h2{
   text-transform: uppercase;
   font-size: 40px;
   text-align: center;
   padding-top: 100px;
}

.contact-box{
    width: 1200px;
    height: calc(100% - 258px);
    border: 10px solid #3A565C;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.contact-box h3{
    font-size: 30px;
    /* outline: 1px solid red; */
    margin-top: 520px
}


.contact{
    display:flex;
    align-items: center;
    text-align: center;
    /* outline: 1px solid green; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.contact img{
    width: 200px;
    height: 250px;
    /* outline: 1px solid red; */
}

.contact .contact-info p{
    font-size: 20px;
    padding: 20px 50px;
    /* outline: 1px solid red; */
    text-align-last: left;
}


.copyright{
    width: 100%;
    height: 100px;
    background: #333;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}



